/* File: automatic-variables.css - Version: 3.3.5 - Generated: 2025-04-25 13:15:16 */
:root, .color-scheme--main {
  --action-hex: #32a2c1;
  --action-hsl: 193 59% 48%;
  --action-rgb: 50 162 193;
  --action-r: 50;
  --action-g: 162;
  --action-b: 193;
  --action-h: 193;
  --action-s: 59%;
  --action-l: 48%;
  --action-hover-h: 358;
  --action-hover-s: 70%;
  --action-hover-l: 55.2%;
  --action-ultra-light-h: 358;
  --action-ultra-light-s: 70%;
  --action-ultra-light-l: 95%;
  --action-light-h: 358;
  --action-light-s: 70%;
  --action-light-l: 85%;
  --action-semi-light-h: 193;
  --action-semi-light-s: 59%;
  --action-semi-light-l: 65%;
  --action-semi-dark-h: 193;
  --action-semi-dark-s: 59%;
  --action-semi-dark-l: 35%;
  --action-dark-h: 358;
  --action-dark-s: 70%;
  --action-dark-l: 25%;
  --action-ultra-dark-h: 358;
  --action-ultra-dark-s: 70%;
  --action-ultra-dark-l: 10%;
  --action-comp-h: 373;
  --action-medium-h: 358;
  --action-medium-s: 70%;
  --action-medium-l: 50%;
  --primary-hex: #5b99a6;
  --primary-hsl: 190 30% 50%;
  --primary-rgb: 91 153 166;
  --primary-r: 91;
  --primary-g: 153;
  --primary-b: 166;
  --primary-h: 190;
  --primary-s: 30%;
  --primary-l: 50%;
  --primary-hover-h: 358;
  --primary-hover-s: 70%;
  --primary-hover-l: 57.5%;
  --primary-ultra-light-h: 358;
  --primary-ultra-light-s: 70%;
  --primary-ultra-light-l: 95%;
  --primary-light-h: 358;
  --primary-light-s: 70%;
  --primary-light-l: 85%;
  --primary-semi-light-h: 190;
  --primary-semi-light-s: 30%;
  --primary-semi-light-l: 65%;
  --primary-semi-dark-h: 190;
  --primary-semi-dark-s: 30%;
  --primary-semi-dark-l: 35%;
  --primary-dark-h: 358;
  --primary-dark-s: 70%;
  --primary-dark-l: 25%;
  --primary-ultra-dark-h: 358;
  --primary-ultra-dark-s: 70%;
  --primary-ultra-dark-l: 10%;
  --primary-comp-h: 370;
  --primary-medium-h: 358;
  --primary-medium-s: 70%;
  --primary-medium-l: 50%;
  --secondary-hex: #1c1930;
  --secondary-hsl: 248 32% 14%;
  --secondary-rgb: 28 25 48;
  --secondary-r: 28;
  --secondary-g: 25;
  --secondary-b: 48;
  --secondary-h: 248;
  --secondary-s: 32%;
  --secondary-l: 14%;
  --secondary-hover-h: 276;
  --secondary-hover-s: 16%;
  --secondary-hover-l: 16.1%;
  --secondary-ultra-light-h: 276;
  --secondary-ultra-light-s: 16%;
  --secondary-ultra-light-l: 95%;
  --secondary-light-h: 276;
  --secondary-light-s: 16%;
  --secondary-light-l: 85%;
  --secondary-semi-light-h: 248;
  --secondary-semi-light-s: 32%;
  --secondary-semi-light-l: 65%;
  --secondary-semi-dark-h: 248;
  --secondary-semi-dark-s: 32%;
  --secondary-semi-dark-l: 35%;
  --secondary-dark-h: 276;
  --secondary-dark-s: 16%;
  --secondary-dark-l: 25%;
  --secondary-ultra-dark-h: 276;
  --secondary-ultra-dark-s: 16%;
  --secondary-ultra-dark-l: 10%;
  --secondary-comp-h: 428;
  --secondary-medium-h: 276;
  --secondary-medium-s: 16%;
  --secondary-medium-l: 50%;
  --base-hex: #0a2434;
  --base-hsl: 203 68% 12%;
  --base-rgb: 10 36 52;
  --base-r: 10;
  --base-g: 36;
  --base-b: 52;
  --base-h: 203;
  --base-s: 68%;
  --base-l: 12%;
  --base-hover-h: 213;
  --base-hover-s: 36%;
  --base-hover-l: 13.8%;
  --base-ultra-light-h: 213;
  --base-ultra-light-s: 36%;
  --base-ultra-light-l: 95%;
  --base-light-h: 213;
  --base-light-s: 36%;
  --base-light-l: 85%;
  --base-semi-light-h: 203;
  --base-semi-light-s: 68%;
  --base-semi-light-l: 65%;
  --base-semi-dark-h: 203;
  --base-semi-dark-s: 68%;
  --base-semi-dark-l: 35%;
  --base-dark-h: 213;
  --base-dark-s: 36%;
  --base-dark-l: 25%;
  --base-ultra-dark-h: 213;
  --base-ultra-dark-s: 36%;
  --base-ultra-dark-l: 10%;
  --base-comp-h: 383;
  --base-medium-h: 213;
  --base-medium-s: 36%;
  --base-medium-l: 50%;
  --shade-hex: #000000;
  --shade-hsl: 0 0% 0%;
  --shade-rgb: 0 0 0;
  --shade-r: 0;
  --shade-g: 0;
  --shade-b: 0;
  --shade-h: 0;
  --shade-s: 0%;
  --shade-l: 0%;
  --shade-hover-h: 0;
  --shade-hover-s: 0%;
  --shade-hover-l: 0%;
  --shade-ultra-light-h: 0;
  --shade-ultra-light-s: 0%;
  --shade-ultra-light-l: 95%;
  --shade-light-h: 0;
  --shade-light-s: 0%;
  --shade-light-l: 85%;
  --shade-semi-light-h: 0;
  --shade-semi-light-s: 0%;
  --shade-semi-light-l: 65%;
  --shade-semi-dark-h: 0;
  --shade-semi-dark-s: 0%;
  --shade-semi-dark-l: 35%;
  --shade-dark-h: 0;
  --shade-dark-s: 0%;
  --shade-dark-l: 25%;
  --shade-ultra-dark-h: 0;
  --shade-ultra-dark-s: 0%;
  --shade-ultra-dark-l: 10%;
  --shade-comp-h: 180;
  --shade-medium-h: 0;
  --shade-medium-s: 0%;
  --shade-medium-l: 50%;
  --neutral-hex: #000000;
  --neutral-hsl: 0 0% 0%;
  --neutral-rgb: 0 0 0;
  --neutral-r: 0;
  --neutral-g: 0;
  --neutral-b: 0;
  --neutral-h: 0;
  --neutral-s: 0%;
  --neutral-l: 0%;
  --neutral-hover-h: 0;
  --neutral-hover-s: 0%;
  --neutral-hover-l: 0%;
  --neutral-ultra-light-h: 0;
  --neutral-ultra-light-s: 0%;
  --neutral-ultra-light-l: 95%;
  --neutral-light-h: 0;
  --neutral-light-s: 0%;
  --neutral-light-l: 85%;
  --neutral-semi-light-h: 0;
  --neutral-semi-light-s: 0%;
  --neutral-semi-light-l: 65%;
  --neutral-semi-dark-h: 0;
  --neutral-semi-dark-s: 0%;
  --neutral-semi-dark-l: 35%;
  --neutral-dark-h: 0;
  --neutral-dark-s: 0%;
  --neutral-dark-l: 25%;
  --neutral-ultra-dark-h: 0;
  --neutral-ultra-dark-s: 0%;
  --neutral-ultra-dark-l: 10%;
  --neutral-comp-h: 180;
  --neutral-medium-h: 0;
  --neutral-medium-s: 0%;
  --neutral-medium-l: 50%;
  --danger-hex: #DC3545;
  --danger-hsl: 354 70% 54%;
  --danger-rgb: 220 53 69;
  --danger-r: 220;
  --danger-g: 53;
  --danger-b: 69;
  --danger-h: 354;
  --danger-s: 70%;
  --danger-l: 54%;
  --danger-hover-h: 354;
  --danger-hover-s: 71%;
  --danger-hover-l: 62.1%;
  --danger-ultra-light-h: 354;
  --danger-ultra-light-s: 70%;
  --danger-ultra-light-l: 95%;
  --danger-light-h: 354;
  --danger-light-s: 71%;
  --danger-light-l: 85%;
  --danger-semi-light-h: 354;
  --danger-semi-light-s: 70%;
  --danger-semi-light-l: 65%;
  --danger-semi-dark-h: 354;
  --danger-semi-dark-s: 70%;
  --danger-semi-dark-l: 35%;
  --danger-dark-h: 354;
  --danger-dark-s: 71%;
  --danger-dark-l: 15%;
  --danger-ultra-dark-h: 354;
  --danger-ultra-dark-s: 70%;
  --danger-ultra-dark-l: 10%;
  --danger-comp-h: 534;
  --danger-medium-h: 354;
  --danger-medium-s: 70%;
  --danger-medium-l: 50%;
  --warning-hex: #FFC10A;
  --warning-hsl: 45 100% 52%;
  --warning-rgb: 255 193 10;
  --warning-r: 255;
  --warning-g: 193;
  --warning-b: 10;
  --warning-h: 45;
  --warning-s: 100%;
  --warning-l: 52%;
  --warning-hover-h: 45;
  --warning-hover-s: 100%;
  --warning-hover-l: 59.8%;
  --warning-ultra-light-h: 45;
  --warning-ultra-light-s: 100%;
  --warning-ultra-light-l: 95%;
  --warning-light-h: 45;
  --warning-light-s: 100%;
  --warning-light-l: 85%;
  --warning-semi-light-h: 45;
  --warning-semi-light-s: 100%;
  --warning-semi-light-l: 65%;
  --warning-semi-dark-h: 45;
  --warning-semi-dark-s: 100%;
  --warning-semi-dark-l: 35%;
  --warning-dark-h: 45;
  --warning-dark-s: 100%;
  --warning-dark-l: 15%;
  --warning-ultra-dark-h: 45;
  --warning-ultra-dark-s: 100%;
  --warning-ultra-dark-l: 10%;
  --warning-comp-h: 225;
  --warning-medium-h: 45;
  --warning-medium-s: 100%;
  --warning-medium-l: 50%;
  --info-hex: #18A2B8;
  --info-hsl: 188 77% 41%;
  --info-rgb: 24 162 184;
  --info-r: 24;
  --info-g: 162;
  --info-b: 184;
  --info-h: 188;
  --info-s: 77%;
  --info-l: 41%;
  --info-hover-h: 188;
  --info-hover-s: 77%;
  --info-hover-l: 47.15%;
  --info-ultra-light-h: 188;
  --info-ultra-light-s: 77%;
  --info-ultra-light-l: 95%;
  --info-light-h: 188;
  --info-light-s: 77%;
  --info-light-l: 85%;
  --info-semi-light-h: 188;
  --info-semi-light-s: 77%;
  --info-semi-light-l: 65%;
  --info-semi-dark-h: 188;
  --info-semi-dark-s: 77%;
  --info-semi-dark-l: 35%;
  --info-dark-h: 188;
  --info-dark-s: 77%;
  --info-dark-l: 15%;
  --info-ultra-dark-h: 188;
  --info-ultra-dark-s: 77%;
  --info-ultra-dark-l: 10%;
  --info-comp-h: 368;
  --info-medium-h: 188;
  --info-medium-s: 77%;
  --info-medium-l: 50%;
  --success-hex: #29A745;
  --success-hsl: 133 61% 41%;
  --success-rgb: 41 167 69;
  --success-r: 41;
  --success-g: 167;
  --success-b: 69;
  --success-h: 133;
  --success-s: 61%;
  --success-l: 41%;
  --success-hover-h: 133;
  --success-hover-s: 61%;
  --success-hover-l: 47.15%;
  --success-ultra-light-h: 133;
  --success-ultra-light-s: 61%;
  --success-ultra-light-l: 95%;
  --success-light-h: 133;
  --success-light-s: 61%;
  --success-light-l: 85%;
  --success-semi-light-h: 133;
  --success-semi-light-s: 61%;
  --success-semi-light-l: 65%;
  --success-semi-dark-h: 133;
  --success-semi-dark-s: 61%;
  --success-semi-dark-l: 35%;
  --success-dark-h: 133;
  --success-dark-s: 61%;
  --success-dark-l: 15%;
  --success-ultra-dark-h: 133;
  --success-ultra-dark-s: 61%;
  --success-ultra-dark-l: 10%;
  --success-comp-h: 313;
  --success-medium-h: 133;
  --success-medium-s: 61%;
  --success-medium-l: 50%;
  --action: #32a2c1;
  --action-hover: #dd3d42;
  --action-ultra-light: #fbe9ea;
  --action-light: #f4bec0;
  --action-semi-light: #71c4da;
  --action-semi-dark: #25778e;
  --action-dark: #6c1316;
  --action-ultra-dark: #2b0809;
  --action-comp: #c35132;
  --action-medium: #d9262c;
  --primary: #5b99a6;
  --primary-hover: #de474c;
  --primary-ultra-light: #fbe9ea;
  --primary-light: #f4bec0;
  --primary-semi-light: #8bb8c1;
  --primary-semi-dark: #3e6b74;
  --primary-dark: #6c1316;
  --primary-ultra-dark: #2b0809;
  --primary-comp: #a66659;
  --primary-medium: #d9262c;
  --secondary: #1c1930;
  --secondary-hover: #2a2230;
  --secondary-ultra-light: #f3f0f4;
  --secondary-light: #dad3df;
  --secondary-semi-light: #9189c2;
  --secondary-semi-dark: #443d76;
  --secondary-dark: #42364a;
  --secondary-ultra-dark: #1a151e;
  --secondary-comp: #2c2f18;
  --secondary-medium: #846b94;
  --base: #0a2434;
  --base-hover: #172230;
  --base-ultra-light: #eef2f7;
  --base-light: #cbd7e7;
  --base-semi-light: #69b4e2;
  --base-semi-dark: #1d6796;
  --base-dark: #293d57;
  --base-ultra-dark: #101923;
  --base-comp: #331a0a;
  --base-medium: #527bad;
  --shade: #000000;
  --shade-hover: black;
  --shade-ultra-light: #f2f2f2;
  --shade-light: #d9d9d9;
  --shade-semi-light: #a6a6a6;
  --shade-semi-dark: #595959;
  --shade-dark: #404040;
  --shade-ultra-dark: #1a1a1a;
  --shade-comp: black;
  --shade-medium: gray;
  --neutral: #000000;
  --neutral-hover: black;
  --neutral-ultra-light: #f2f2f2;
  --neutral-light: #d9d9d9;
  --neutral-semi-light: #a6a6a6;
  --neutral-semi-dark: #595959;
  --neutral-dark: #404040;
  --neutral-ultra-dark: #1a1a1a;
  --neutral-comp: black;
  --neutral-medium: gray;
  --white: #fff;
  --black: #000;
  --danger: #DC3545;
  --danger-hover: #e35a67;
  --danger-ultra-light: #fbe9eb;
  --danger-light: #f4bec3;
  --danger-semi-light: #e46774;
  --danger-semi-dark: #981b27;
  --danger-dark: #410b11;
  --danger-ultra-dark: #2b080b;
  --danger-comp: #38dccb;
  --danger-medium: #d92638;
  --warning: #FFC10A;
  --warning-hover: #ffcc32;
  --warning-ultra-light: #fff9e6;
  --warning-light: #ffecb3;
  --warning-semi-light: #ffd24d;
  --warning-semi-dark: #b38600;
  --warning-dark: #4d3900;
  --warning-ultra-dark: #332600;
  --warning-comp: #0a47ff;
  --warning-medium: #ffbf00;
  --info: #18A2B8;
  --info-hover: #1cbcd5;
  --info-ultra-light: #e8f9fc;
  --info-light: #bbeef6;
  --info-semi-light: #61d8ea;
  --info-semi-dark: #158c9e;
  --info-dark: #093c44;
  --info-ultra-dark: #06282d;
  --info-comp: #b92e18;
  --info-medium: #1dc7e2;
  --success: #29A745;
  --success-hover: #2fc24f;
  --success-ultra-light: #eafaee;
  --success-light: #c1f0cc;
  --success-semi-light: #6fdc87;
  --success-semi-dark: #23903a;
  --success-dark: #0f3e19;
  --success-ultra-dark: #0a2911;
  --success-comp: #a8298d;
  --success-medium: #32cd53;
  --action-trans-10: rgba(50, 162, 193, 0.1);
  --action-trans-20: rgba(50, 162, 193, 0.2);
  --action-trans-30: rgba(50, 162, 193, 0.3);
  --action-trans-40: rgba(50, 162, 193, 0.4);
  --action-trans-50: rgba(50, 162, 193, 0.5);
  --action-trans-60: rgba(50, 162, 193, 0.6);
  --action-trans-70: rgba(50, 162, 193, 0.7);
  --action-trans-80: rgba(50, 162, 193, 0.8);
  --action-trans-90: rgba(50, 162, 193, 0.9);
  --action-light-trans-10: rgba(244, 190, 192, 0.1);
  --action-light-trans-20: rgba(244, 190, 192, 0.2);
  --action-light-trans-30: rgba(244, 190, 192, 0.3);
  --action-light-trans-40: rgba(244, 190, 192, 0.4);
  --action-light-trans-50: rgba(244, 190, 192, 0.5);
  --action-light-trans-60: rgba(244, 190, 192, 0.6);
  --action-light-trans-70: rgba(244, 190, 192, 0.7);
  --action-light-trans-80: rgba(244, 190, 192, 0.8);
  --action-light-trans-90: rgba(244, 190, 192, 0.9);
  --action-dark-trans-10: rgba(108, 19, 22, 0.1);
  --action-dark-trans-20: rgba(108, 19, 22, 0.2);
  --action-dark-trans-30: rgba(108, 19, 22, 0.3);
  --action-dark-trans-40: rgba(108, 19, 22, 0.4);
  --action-dark-trans-50: rgba(108, 19, 22, 0.5);
  --action-dark-trans-60: rgba(108, 19, 22, 0.6);
  --action-dark-trans-70: rgba(108, 19, 22, 0.7);
  --action-dark-trans-80: rgba(108, 19, 22, 0.8);
  --action-dark-trans-90: rgba(108, 19, 22, 0.9);
  --action-ultra-dark-trans-10: rgba(43, 8, 9, 0.1);
  --action-ultra-dark-trans-20: rgba(43, 8, 9, 0.2);
  --action-ultra-dark-trans-30: rgba(43, 8, 9, 0.3);
  --action-ultra-dark-trans-40: rgba(43, 8, 9, 0.4);
  --action-ultra-dark-trans-50: rgba(43, 8, 9, 0.5);
  --action-ultra-dark-trans-60: rgba(43, 8, 9, 0.6);
  --action-ultra-dark-trans-70: rgba(43, 8, 9, 0.7);
  --action-ultra-dark-trans-80: rgba(43, 8, 9, 0.8);
  --action-ultra-dark-trans-90: rgba(43, 8, 9, 0.9);
  --primary-trans-10: rgba(91, 153, 166, 0.1);
  --primary-trans-20: rgba(91, 153, 166, 0.2);
  --primary-trans-30: rgba(91, 153, 166, 0.3);
  --primary-trans-40: rgba(91, 153, 166, 0.4);
  --primary-trans-50: rgba(91, 153, 166, 0.5);
  --primary-trans-60: rgba(91, 153, 166, 0.6);
  --primary-trans-70: rgba(91, 153, 166, 0.7);
  --primary-trans-80: rgba(91, 153, 166, 0.8);
  --primary-trans-90: rgba(91, 153, 166, 0.9);
  --primary-light-trans-10: rgba(244, 190, 192, 0.1);
  --primary-light-trans-20: rgba(244, 190, 192, 0.2);
  --primary-light-trans-30: rgba(244, 190, 192, 0.3);
  --primary-light-trans-40: rgba(244, 190, 192, 0.4);
  --primary-light-trans-50: rgba(244, 190, 192, 0.5);
  --primary-light-trans-60: rgba(244, 190, 192, 0.6);
  --primary-light-trans-70: rgba(244, 190, 192, 0.7);
  --primary-light-trans-80: rgba(244, 190, 192, 0.8);
  --primary-light-trans-90: rgba(244, 190, 192, 0.9);
  --primary-dark-trans-10: rgba(108, 19, 22, 0.1);
  --primary-dark-trans-20: rgba(108, 19, 22, 0.2);
  --primary-dark-trans-30: rgba(108, 19, 22, 0.3);
  --primary-dark-trans-40: rgba(108, 19, 22, 0.4);
  --primary-dark-trans-50: rgba(108, 19, 22, 0.5);
  --primary-dark-trans-60: rgba(108, 19, 22, 0.6);
  --primary-dark-trans-70: rgba(108, 19, 22, 0.7);
  --primary-dark-trans-80: rgba(108, 19, 22, 0.8);
  --primary-dark-trans-90: rgba(108, 19, 22, 0.9);
  --primary-ultra-dark-trans-10: rgba(43, 8, 9, 0.1);
  --primary-ultra-dark-trans-20: rgba(43, 8, 9, 0.2);
  --primary-ultra-dark-trans-30: rgba(43, 8, 9, 0.3);
  --primary-ultra-dark-trans-40: rgba(43, 8, 9, 0.4);
  --primary-ultra-dark-trans-50: rgba(43, 8, 9, 0.5);
  --primary-ultra-dark-trans-60: rgba(43, 8, 9, 0.6);
  --primary-ultra-dark-trans-70: rgba(43, 8, 9, 0.7);
  --primary-ultra-dark-trans-80: rgba(43, 8, 9, 0.8);
  --primary-ultra-dark-trans-90: rgba(43, 8, 9, 0.9);
  --secondary-trans-10: rgba(28, 25, 48, 0.1);
  --secondary-trans-20: rgba(28, 25, 48, 0.2);
  --secondary-trans-30: rgba(28, 25, 48, 0.3);
  --secondary-trans-40: rgba(28, 25, 48, 0.4);
  --secondary-trans-50: rgba(28, 25, 48, 0.5);
  --secondary-trans-60: rgba(28, 25, 48, 0.6);
  --secondary-trans-70: rgba(28, 25, 48, 0.7);
  --secondary-trans-80: rgba(28, 25, 48, 0.8);
  --secondary-trans-90: rgba(28, 25, 48, 0.9);
  --secondary-light-trans-10: rgba(218, 211, 223, 0.1);
  --secondary-light-trans-20: rgba(218, 211, 223, 0.2);
  --secondary-light-trans-30: rgba(218, 211, 223, 0.3);
  --secondary-light-trans-40: rgba(218, 211, 223, 0.4);
  --secondary-light-trans-50: rgba(218, 211, 223, 0.5);
  --secondary-light-trans-60: rgba(218, 211, 223, 0.6);
  --secondary-light-trans-70: rgba(218, 211, 223, 0.7);
  --secondary-light-trans-80: rgba(218, 211, 223, 0.8);
  --secondary-light-trans-90: rgba(218, 211, 223, 0.9);
  --secondary-dark-trans-10: rgba(66, 54, 74, 0.1);
  --secondary-dark-trans-20: rgba(66, 54, 74, 0.2);
  --secondary-dark-trans-30: rgba(66, 54, 74, 0.3);
  --secondary-dark-trans-40: rgba(66, 54, 74, 0.4);
  --secondary-dark-trans-50: rgba(66, 54, 74, 0.5);
  --secondary-dark-trans-60: rgba(66, 54, 74, 0.6);
  --secondary-dark-trans-70: rgba(66, 54, 74, 0.7);
  --secondary-dark-trans-80: rgba(66, 54, 74, 0.8);
  --secondary-dark-trans-90: rgba(66, 54, 74, 0.9);
  --secondary-ultra-dark-trans-10: rgba(26, 21, 30, 0.1);
  --secondary-ultra-dark-trans-20: rgba(26, 21, 30, 0.2);
  --secondary-ultra-dark-trans-30: rgba(26, 21, 30, 0.3);
  --secondary-ultra-dark-trans-40: rgba(26, 21, 30, 0.4);
  --secondary-ultra-dark-trans-50: rgba(26, 21, 30, 0.5);
  --secondary-ultra-dark-trans-60: rgba(26, 21, 30, 0.6);
  --secondary-ultra-dark-trans-70: rgba(26, 21, 30, 0.7);
  --secondary-ultra-dark-trans-80: rgba(26, 21, 30, 0.8);
  --secondary-ultra-dark-trans-90: rgba(26, 21, 30, 0.9);
  --base-trans-10: rgba(10, 36, 52, 0.1);
  --base-trans-20: rgba(10, 36, 52, 0.2);
  --base-trans-30: rgba(10, 36, 52, 0.3);
  --base-trans-40: rgba(10, 36, 52, 0.4);
  --base-trans-50: rgba(10, 36, 52, 0.5);
  --base-trans-60: rgba(10, 36, 52, 0.6);
  --base-trans-70: rgba(10, 36, 52, 0.7);
  --base-trans-80: rgba(10, 36, 52, 0.8);
  --base-trans-90: rgba(10, 36, 52, 0.9);
  --base-light-trans-10: rgba(203, 215, 231, 0.1);
  --base-light-trans-20: rgba(203, 215, 231, 0.2);
  --base-light-trans-30: rgba(203, 215, 231, 0.3);
  --base-light-trans-40: rgba(203, 215, 231, 0.4);
  --base-light-trans-50: rgba(203, 215, 231, 0.5);
  --base-light-trans-60: rgba(203, 215, 231, 0.6);
  --base-light-trans-70: rgba(203, 215, 231, 0.7);
  --base-light-trans-80: rgba(203, 215, 231, 0.8);
  --base-light-trans-90: rgba(203, 215, 231, 0.9);
  --base-dark-trans-10: rgba(41, 61, 87, 0.1);
  --base-dark-trans-20: rgba(41, 61, 87, 0.2);
  --base-dark-trans-30: rgba(41, 61, 87, 0.3);
  --base-dark-trans-40: rgba(41, 61, 87, 0.4);
  --base-dark-trans-50: rgba(41, 61, 87, 0.5);
  --base-dark-trans-60: rgba(41, 61, 87, 0.6);
  --base-dark-trans-70: rgba(41, 61, 87, 0.7);
  --base-dark-trans-80: rgba(41, 61, 87, 0.8);
  --base-dark-trans-90: rgba(41, 61, 87, 0.9);
  --base-ultra-dark-trans-10: rgba(16, 25, 35, 0.1);
  --base-ultra-dark-trans-20: rgba(16, 25, 35, 0.2);
  --base-ultra-dark-trans-30: rgba(16, 25, 35, 0.3);
  --base-ultra-dark-trans-40: rgba(16, 25, 35, 0.4);
  --base-ultra-dark-trans-50: rgba(16, 25, 35, 0.5);
  --base-ultra-dark-trans-60: rgba(16, 25, 35, 0.6);
  --base-ultra-dark-trans-70: rgba(16, 25, 35, 0.7);
  --base-ultra-dark-trans-80: rgba(16, 25, 35, 0.8);
  --base-ultra-dark-trans-90: rgba(16, 25, 35, 0.9);
  --shade-trans-10: rgba(0, 0, 0, 0.1);
  --shade-trans-20: rgba(0, 0, 0, 0.2);
  --shade-trans-30: rgba(0, 0, 0, 0.3);
  --shade-trans-40: rgba(0, 0, 0, 0.4);
  --shade-trans-50: rgba(0, 0, 0, 0.5);
  --shade-trans-60: rgba(0, 0, 0, 0.6);
  --shade-trans-70: rgba(0, 0, 0, 0.7);
  --shade-trans-80: rgba(0, 0, 0, 0.8);
  --shade-trans-90: rgba(0, 0, 0, 0.9);
  --shade-light-trans-10: rgba(217, 217, 217, 0.1);
  --shade-light-trans-20: rgba(217, 217, 217, 0.2);
  --shade-light-trans-30: rgba(217, 217, 217, 0.3);
  --shade-light-trans-40: rgba(217, 217, 217, 0.4);
  --shade-light-trans-50: rgba(217, 217, 217, 0.5);
  --shade-light-trans-60: rgba(217, 217, 217, 0.6);
  --shade-light-trans-70: rgba(217, 217, 217, 0.7);
  --shade-light-trans-80: rgba(217, 217, 217, 0.8);
  --shade-light-trans-90: rgba(217, 217, 217, 0.9);
  --shade-dark-trans-10: rgba(64, 64, 64, 0.1);
  --shade-dark-trans-20: rgba(64, 64, 64, 0.2);
  --shade-dark-trans-30: rgba(64, 64, 64, 0.3);
  --shade-dark-trans-40: rgba(64, 64, 64, 0.4);
  --shade-dark-trans-50: rgba(64, 64, 64, 0.5);
  --shade-dark-trans-60: rgba(64, 64, 64, 0.6);
  --shade-dark-trans-70: rgba(64, 64, 64, 0.7);
  --shade-dark-trans-80: rgba(64, 64, 64, 0.8);
  --shade-dark-trans-90: rgba(64, 64, 64, 0.9);
  --shade-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --shade-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --shade-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --shade-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --shade-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --shade-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --shade-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --shade-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --shade-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --neutral-trans-10: rgba(0, 0, 0, 0.1);
  --neutral-trans-20: rgba(0, 0, 0, 0.2);
  --neutral-trans-30: rgba(0, 0, 0, 0.3);
  --neutral-trans-40: rgba(0, 0, 0, 0.4);
  --neutral-trans-50: rgba(0, 0, 0, 0.5);
  --neutral-trans-60: rgba(0, 0, 0, 0.6);
  --neutral-trans-70: rgba(0, 0, 0, 0.7);
  --neutral-trans-80: rgba(0, 0, 0, 0.8);
  --neutral-trans-90: rgba(0, 0, 0, 0.9);
  --neutral-light-trans-10: rgba(217, 217, 217, 0.1);
  --neutral-light-trans-20: rgba(217, 217, 217, 0.2);
  --neutral-light-trans-30: rgba(217, 217, 217, 0.3);
  --neutral-light-trans-40: rgba(217, 217, 217, 0.4);
  --neutral-light-trans-50: rgba(217, 217, 217, 0.5);
  --neutral-light-trans-60: rgba(217, 217, 217, 0.6);
  --neutral-light-trans-70: rgba(217, 217, 217, 0.7);
  --neutral-light-trans-80: rgba(217, 217, 217, 0.8);
  --neutral-light-trans-90: rgba(217, 217, 217, 0.9);
  --neutral-dark-trans-10: rgba(64, 64, 64, 0.1);
  --neutral-dark-trans-20: rgba(64, 64, 64, 0.2);
  --neutral-dark-trans-30: rgba(64, 64, 64, 0.3);
  --neutral-dark-trans-40: rgba(64, 64, 64, 0.4);
  --neutral-dark-trans-50: rgba(64, 64, 64, 0.5);
  --neutral-dark-trans-60: rgba(64, 64, 64, 0.6);
  --neutral-dark-trans-70: rgba(64, 64, 64, 0.7);
  --neutral-dark-trans-80: rgba(64, 64, 64, 0.8);
  --neutral-dark-trans-90: rgba(64, 64, 64, 0.9);
  --neutral-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --neutral-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --neutral-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --neutral-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --neutral-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --neutral-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --neutral-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --neutral-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --neutral-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-30: rgba(255, 255, 255, 0.3);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-50: rgba(255, 255, 255, 0.5);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-70: rgba(255, 255, 255, 0.7);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-30: rgba(0, 0, 0, 0.3);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-70: rgba(0, 0, 0, 0.7);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --danger-trans-10: rgba(220, 53, 69, 0.1);
  --danger-trans-20: rgba(220, 53, 69, 0.2);
  --danger-trans-30: rgba(220, 53, 69, 0.3);
  --danger-trans-40: rgba(220, 53, 69, 0.4);
  --danger-trans-50: rgba(220, 53, 69, 0.5);
  --danger-trans-60: rgba(220, 53, 69, 0.6);
  --danger-trans-70: rgba(220, 53, 69, 0.7);
  --danger-trans-80: rgba(220, 53, 69, 0.8);
  --danger-trans-90: rgba(220, 53, 69, 0.9);
  --danger-light-trans-10: rgba(244, 190, 195, 0.1);
  --danger-light-trans-20: rgba(244, 190, 195, 0.2);
  --danger-light-trans-30: rgba(244, 190, 195, 0.3);
  --danger-light-trans-40: rgba(244, 190, 195, 0.4);
  --danger-light-trans-50: rgba(244, 190, 195, 0.5);
  --danger-light-trans-60: rgba(244, 190, 195, 0.6);
  --danger-light-trans-70: rgba(244, 190, 195, 0.7);
  --danger-light-trans-80: rgba(244, 190, 195, 0.8);
  --danger-light-trans-90: rgba(244, 190, 195, 0.9);
  --danger-dark-trans-10: rgba(65, 11, 17, 0.1);
  --danger-dark-trans-20: rgba(65, 11, 17, 0.2);
  --danger-dark-trans-30: rgba(65, 11, 17, 0.3);
  --danger-dark-trans-40: rgba(65, 11, 17, 0.4);
  --danger-dark-trans-50: rgba(65, 11, 17, 0.5);
  --danger-dark-trans-60: rgba(65, 11, 17, 0.6);
  --danger-dark-trans-70: rgba(65, 11, 17, 0.7);
  --danger-dark-trans-80: rgba(65, 11, 17, 0.8);
  --danger-dark-trans-90: rgba(65, 11, 17, 0.9);
  --danger-ultra-dark-trans-10: rgba(43, 8, 11, 0.1);
  --danger-ultra-dark-trans-20: rgba(43, 8, 11, 0.2);
  --danger-ultra-dark-trans-30: rgba(43, 8, 11, 0.3);
  --danger-ultra-dark-trans-40: rgba(43, 8, 11, 0.4);
  --danger-ultra-dark-trans-50: rgba(43, 8, 11, 0.5);
  --danger-ultra-dark-trans-60: rgba(43, 8, 11, 0.6);
  --danger-ultra-dark-trans-70: rgba(43, 8, 11, 0.7);
  --danger-ultra-dark-trans-80: rgba(43, 8, 11, 0.8);
  --danger-ultra-dark-trans-90: rgba(43, 8, 11, 0.9);
  --warning-trans-10: rgba(255, 193, 10, 0.1);
  --warning-trans-20: rgba(255, 193, 10, 0.2);
  --warning-trans-30: rgba(255, 193, 10, 0.3);
  --warning-trans-40: rgba(255, 193, 10, 0.4);
  --warning-trans-50: rgba(255, 193, 10, 0.5);
  --warning-trans-60: rgba(255, 193, 10, 0.6);
  --warning-trans-70: rgba(255, 193, 10, 0.7);
  --warning-trans-80: rgba(255, 193, 10, 0.8);
  --warning-trans-90: rgba(255, 193, 10, 0.9);
  --warning-light-trans-10: rgba(255, 236, 179, 0.1);
  --warning-light-trans-20: rgba(255, 236, 179, 0.2);
  --warning-light-trans-30: rgba(255, 236, 179, 0.3);
  --warning-light-trans-40: rgba(255, 236, 179, 0.4);
  --warning-light-trans-50: rgba(255, 236, 179, 0.5);
  --warning-light-trans-60: rgba(255, 236, 179, 0.6);
  --warning-light-trans-70: rgba(255, 236, 179, 0.7);
  --warning-light-trans-80: rgba(255, 236, 179, 0.8);
  --warning-light-trans-90: rgba(255, 236, 179, 0.9);
  --warning-dark-trans-10: rgba(77, 57, 0, 0.1);
  --warning-dark-trans-20: rgba(77, 57, 0, 0.2);
  --warning-dark-trans-30: rgba(77, 57, 0, 0.3);
  --warning-dark-trans-40: rgba(77, 57, 0, 0.4);
  --warning-dark-trans-50: rgba(77, 57, 0, 0.5);
  --warning-dark-trans-60: rgba(77, 57, 0, 0.6);
  --warning-dark-trans-70: rgba(77, 57, 0, 0.7);
  --warning-dark-trans-80: rgba(77, 57, 0, 0.8);
  --warning-dark-trans-90: rgba(77, 57, 0, 0.9);
  --warning-ultra-dark-trans-10: rgba(51, 38, 0, 0.1);
  --warning-ultra-dark-trans-20: rgba(51, 38, 0, 0.2);
  --warning-ultra-dark-trans-30: rgba(51, 38, 0, 0.3);
  --warning-ultra-dark-trans-40: rgba(51, 38, 0, 0.4);
  --warning-ultra-dark-trans-50: rgba(51, 38, 0, 0.5);
  --warning-ultra-dark-trans-60: rgba(51, 38, 0, 0.6);
  --warning-ultra-dark-trans-70: rgba(51, 38, 0, 0.7);
  --warning-ultra-dark-trans-80: rgba(51, 38, 0, 0.8);
  --warning-ultra-dark-trans-90: rgba(51, 38, 0, 0.9);
  --info-trans-10: rgba(24, 162, 184, 0.1);
  --info-trans-20: rgba(24, 162, 184, 0.2);
  --info-trans-30: rgba(24, 162, 184, 0.3);
  --info-trans-40: rgba(24, 162, 184, 0.4);
  --info-trans-50: rgba(24, 162, 184, 0.5);
  --info-trans-60: rgba(24, 162, 184, 0.6);
  --info-trans-70: rgba(24, 162, 184, 0.7);
  --info-trans-80: rgba(24, 162, 184, 0.8);
  --info-trans-90: rgba(24, 162, 184, 0.9);
  --info-light-trans-10: rgba(187, 238, 246, 0.1);
  --info-light-trans-20: rgba(187, 238, 246, 0.2);
  --info-light-trans-30: rgba(187, 238, 246, 0.3);
  --info-light-trans-40: rgba(187, 238, 246, 0.4);
  --info-light-trans-50: rgba(187, 238, 246, 0.5);
  --info-light-trans-60: rgba(187, 238, 246, 0.6);
  --info-light-trans-70: rgba(187, 238, 246, 0.7);
  --info-light-trans-80: rgba(187, 238, 246, 0.8);
  --info-light-trans-90: rgba(187, 238, 246, 0.9);
  --info-dark-trans-10: rgba(9, 60, 68, 0.1);
  --info-dark-trans-20: rgba(9, 60, 68, 0.2);
  --info-dark-trans-30: rgba(9, 60, 68, 0.3);
  --info-dark-trans-40: rgba(9, 60, 68, 0.4);
  --info-dark-trans-50: rgba(9, 60, 68, 0.5);
  --info-dark-trans-60: rgba(9, 60, 68, 0.6);
  --info-dark-trans-70: rgba(9, 60, 68, 0.7);
  --info-dark-trans-80: rgba(9, 60, 68, 0.8);
  --info-dark-trans-90: rgba(9, 60, 68, 0.9);
  --info-ultra-dark-trans-10: rgba(6, 40, 45, 0.1);
  --info-ultra-dark-trans-20: rgba(6, 40, 45, 0.2);
  --info-ultra-dark-trans-30: rgba(6, 40, 45, 0.3);
  --info-ultra-dark-trans-40: rgba(6, 40, 45, 0.4);
  --info-ultra-dark-trans-50: rgba(6, 40, 45, 0.5);
  --info-ultra-dark-trans-60: rgba(6, 40, 45, 0.6);
  --info-ultra-dark-trans-70: rgba(6, 40, 45, 0.7);
  --info-ultra-dark-trans-80: rgba(6, 40, 45, 0.8);
  --info-ultra-dark-trans-90: rgba(6, 40, 45, 0.9);
  --success-trans-10: rgba(41, 167, 69, 0.1);
  --success-trans-20: rgba(41, 167, 69, 0.2);
  --success-trans-30: rgba(41, 167, 69, 0.3);
  --success-trans-40: rgba(41, 167, 69, 0.4);
  --success-trans-50: rgba(41, 167, 69, 0.5);
  --success-trans-60: rgba(41, 167, 69, 0.6);
  --success-trans-70: rgba(41, 167, 69, 0.7);
  --success-trans-80: rgba(41, 167, 69, 0.8);
  --success-trans-90: rgba(41, 167, 69, 0.9);
  --success-light-trans-10: rgba(193, 240, 204, 0.1);
  --success-light-trans-20: rgba(193, 240, 204, 0.2);
  --success-light-trans-30: rgba(193, 240, 204, 0.3);
  --success-light-trans-40: rgba(193, 240, 204, 0.4);
  --success-light-trans-50: rgba(193, 240, 204, 0.5);
  --success-light-trans-60: rgba(193, 240, 204, 0.6);
  --success-light-trans-70: rgba(193, 240, 204, 0.7);
  --success-light-trans-80: rgba(193, 240, 204, 0.8);
  --success-light-trans-90: rgba(193, 240, 204, 0.9);
  --success-dark-trans-10: rgba(15, 62, 25, 0.1);
  --success-dark-trans-20: rgba(15, 62, 25, 0.2);
  --success-dark-trans-30: rgba(15, 62, 25, 0.3);
  --success-dark-trans-40: rgba(15, 62, 25, 0.4);
  --success-dark-trans-50: rgba(15, 62, 25, 0.5);
  --success-dark-trans-60: rgba(15, 62, 25, 0.6);
  --success-dark-trans-70: rgba(15, 62, 25, 0.7);
  --success-dark-trans-80: rgba(15, 62, 25, 0.8);
  --success-dark-trans-90: rgba(15, 62, 25, 0.9);
  --success-ultra-dark-trans-10: rgba(10, 41, 17, 0.1);
  --success-ultra-dark-trans-20: rgba(10, 41, 17, 0.2);
  --success-ultra-dark-trans-30: rgba(10, 41, 17, 0.3);
  --success-ultra-dark-trans-40: rgba(10, 41, 17, 0.4);
  --success-ultra-dark-trans-50: rgba(10, 41, 17, 0.5);
  --success-ultra-dark-trans-60: rgba(10, 41, 17, 0.6);
  --success-ultra-dark-trans-70: rgba(10, 41, 17, 0.7);
  --success-ultra-dark-trans-80: rgba(10, 41, 17, 0.8);
  --success-ultra-dark-trans-90: rgba(10, 41, 17, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --bg-ultra-light: var(--neutral-ultra-light);
  --bg-light: var(--neutral-ultra-light);
  --bg-dark: var(--neutral-ultra-dark);
  --bg-ultra-dark: var(--neutral-ultra-dark);
  --text-light: var(--neutral-ultra-light);
  --text-light-muted: var(--neutral-light);
  --text-dark: var(--neutral-ultra-dark);
  --text-dark-muted: var(--neutral-dark);
  --body-bg-color: var(--white);
  --body-color: var(--black);
}
:root {
  --on: initial;
  --off: ;
  --section-padding-x: 1.5rem;
  --section-padding-block: var(--section-space-m);
  --section-gutter: 1.5rem;
  --gutter: 1.5rem;
  --text-xs: 1.26rem;
  --text-s: 1.42rem;
  --text-m: 1.8rem;
  --text-l: 2.025rem;
  --text-xl: 2.28rem;
  --text-xxl: 2.565rem;
  --root-font-size: 100%;
  --h6: 1.26rem;
  --h5: 1.42rem;
  --h4: 1.8rem;
  --h3: 2.025rem;
  --h2: 2.28rem;
  --h1: 2.565rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --content-width: 85.375rem;
  --content-width-safe: min(var(--content-width), calc(100% - var(--gutter) * 2));
  --width-xs: calc(var(--content-width) * 0.1);
  --width-s: calc(var(--content-width) * 0.2);
  --width-m: calc(var(--content-width) * 0.4);
  --width-l: calc(var(--content-width) * 0.6);
  --width-xl: calc(var(--content-width) * 0.8);
  --width-xxl: calc(var(--content-width) * 0.9);
  --width-vp-max: calc(var(--content-width) * 1);
  --width-content: calc(var(--content-width) * 1);
  --width-full: calc(var(--content-width) * 100%);
  --width-10: calc(var(--content-width) * 0.1);
  --width-20: calc(var(--content-width) * 0.2);
  --width-30: calc(var(--content-width) * 0.3);
  --width-40: calc(var(--content-width) * 0.4);
  --width-50: calc(var(--content-width) * 0.5);
  --width-60: calc(var(--content-width) * 0.6);
  --width-70: calc(var(--content-width) * 0.7);
  --width-80: calc(var(--content-width) * 0.8);
  --width-90: calc(var(--content-width) * 0.9);
  --focus-color: var(--action);
  --focus-width: 0.2rem;
  --focus-offset: 0.25em;
  --box-shadow-m: 0 4px 4px -10px rgba(0, 0, 0, 0.04), 0 13px 13px -10px rgba(0, 0, 0, 0.06), 0 40px 60px -10px rgba(0, 0, 0, 0.08);
  --box-shadow-l: 0 2.7px 3.6px -5px rgba(0, 0, 0, 0.04), 0 7.5px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24.1px -5px rgba(0, 0, 0, 0.08), 0 60px 80px -5px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -5px rgba(0, 0, 0, 0.04), 0 12.5px 10px -5px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -5px rgba(0, 0, 0, 0.08), 0 41.8px 33.4px -5px rgba(0, 0, 0, 0.1), 0 80px 80px -5px rgba(0, 0, 0, 0.105);
  --box-shadow-1: 0 4px 4px -10px rgba(0, 0, 0, 0.04), 0 13px 13px -10px rgba(0, 0, 0, 0.06), 0 40px 60px -10px rgba(0, 0, 0, 0.08);
  --box-shadow-2: 0 2.7px 3.6px -5px rgba(0, 0, 0, 0.04), 0 7.5px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24.1px -5px rgba(0, 0, 0, 0.08), 0 60px 80px -5px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -5px rgba(0, 0, 0, 0.04), 0 12.5px 10px -5px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -5px rgba(0, 0, 0, 0.08), 0 41.8px 33.4px -5px rgba(0, 0, 0, 0.1), 0 80px 80px -5px rgba(0, 0, 0, 0.105);
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
  --text-xxl-line-height: 1.5;
  --text-xxl-max-width: 20ch;
  --text-xl-line-height: 1.5;
  --text-l-line-height: 1.5;
  --text-m-line-height: calc();
  --text-m-max-width: 100%;
  --text-s-line-height: 1.5;
  --text-xs-line-height: 1.5;
  --base-text-lh: calc();
  --heading-line-height: calc();
  --heading-font-weight: 700;
  --heading-text-wrap: pretty;
  --base-heading-lh: calc();
  --h1-line-height: 1.2;
  --h1-max-width: 100%;
  --h2-line-height: 1.2;
  --h3-line-height: 1.2;
  --h4-line-height: calc();
  --h5-line-height: 1.2;
  --h6-line-height: 1.2;
  --text-color: var(--black);
  --text-line-height: calc();
  --text-text-wrap: pretty;
}
:root {
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);
}
:root {
  --grid-auto-2: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((2 - 1) * var(--grid-gap))) / 2) * 0.7, (100% - (2 - 1) * var(--grid-gap)) / 2)), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((3 - 1) * var(--grid-gap))) / 3) * 0.7, (100% - (3 - 1) * var(--grid-gap)) / 3)), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((4 - 1) * var(--grid-gap))) / 4) * 0.7, (100% - (4 - 1) * var(--grid-gap)) / 4)), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((5 - 1) * var(--grid-gap))) / 5) * 0.7, (100% - (5 - 1) * var(--grid-gap)) / 5)), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((6 - 1) * var(--grid-gap))) / 6) * 0.7, (100% - (6 - 1) * var(--grid-gap)) / 6)), 1fr));
  --grid-auto-7: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((7 - 1) * var(--grid-gap))) / 7) * 0.7, (100% - (7 - 1) * var(--grid-gap)) / 7)), 1fr));
  --grid-auto-8: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((8 - 1) * var(--grid-gap))) / 8) * 0.7, (100% - (8 - 1) * var(--grid-gap)) / 8)), 1fr));
  --grid-auto-9: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((9 - 1) * var(--grid-gap))) / 9) * 0.7, (100% - (9 - 1) * var(--grid-gap)) / 9)), 1fr));
  --grid-auto-10: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((10 - 1) * var(--grid-gap))) / 10) * 0.7, (100% - (10 - 1) * var(--grid-gap)) / 10)), 1fr));
  --grid-auto-11: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((11 - 1) * var(--grid-gap))) / 11) * 0.7, (100% - (11 - 1) * var(--grid-gap)) / 11)), 1fr));
  --grid-auto-12: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((12 - 1) * var(--grid-gap))) / 12) * 0.7, (100% - (12 - 1) * var(--grid-gap)) / 12)), 1fr));
  --auto-grid-aggressiveness: 0.7;
}
:root {
  --header-height: 0rem;
  --header-height-xl: 0rem;
  --header-height-l: 0rem;
  --header-height-m: 0rem;
  --header-height-s: 0rem;
  --header-height-xs: 0rem;
}
@media (max-width: 1280px) {
  :root {
    --header-height: var(--header-height-xl);
  }
}
@media (max-width: 992px) {
  :root {
    --header-height: var(--header-height-l);
  }
}
@media (max-width: 768px) {
  :root {
    --header-height: var(--header-height-m);
  }
}
@media (max-width: 480px) {
  :root {
    --header-height: var(--header-height-s);
  }
}
@media (max-width: 360px) {
  :root {
    --header-height: var(--header-height-xs);
  }
}
:root {
  --paragraph-spacing: 1em;
  --heading-spacing: 1.5em;
  --list-spacing: 1em;
  --list-indent-spacing: 2em;
  --list-item-spacing: 0.5em;
  --nested-list-indent-spacing: 1em;
  --flow-spacing: var(--paragraph-spacing);
  --figure-spacing: var(--paragraph-spacing);
  --figcaption-spacing: 0.5em;
  --blockquote-spacing: var(--paragraph-spacing);
}
:root {
  --option-primary-btn-outline: on;
  --option-secondary-btn-outline: on;
  --btn-padding-block: 0.75em;
  --btn-padding-inline: 1.5em;
  --btn-min-width: 8.75rem;
  --btn-line-height: 1;
  --btn-font-weight: 400;
  --btn-font-style: normal;
  --btn-text-decoration: none;
  --btn-text-decoration-hover: none;
  --btn-letter-spacing: 0;
  --btn-text-transform: none;
  --btn-border-width: 0.25rem;
  --btn-outline-border-width: 0.25rem;
  --btn-border-style: solid;
  --btn-border-radius: 0;
  --btn-justify-content: center;
  --btn-text-align: center;
}
:root {
  --btn-font-size: clamp(0.875rem, calc(0.3976143141vw + 0.7855367793rem), 1.125rem);
  --btn-text-size: clamp(0.875rem, calc(0.3976143141vw + 0.7855367793rem), 1.125rem);
}
/* Deprecated in ACSS 2.7 */
:root {
  --btn-border-size: 0.25rem;
  --btn-radius: 0;
  --outline-btn-border-size: 0.25rem;
  --btn-pad-x: 1.5em;
  --btn-pad-y: 0.75em;
  --btn-text-style: normal;
  --btn-weight: 400;
  --btn-width: 8.75;
}
:root {
  --link-color: var(--action);
  --link-color-hover: var(--action-hover);
  --link-transition: var(--transition);
  --link-decoration: inherit;
  --link-decoration-hover: inherit;
  --link-underline-offset: 0;
  --link-weight: inherit;
}
:root {
  --col-width-s: 13rem;
  --col-width-m: 25rem;
  --col-width-l: 38rem;
  --col-rule-width-s: 0.1em;
  --col-rule-width-m: 0.3em;
  --col-rule-width-l: 0.5em;
}
:root {
  --sticky-s: 2.5%;
  --sticky-m: 5%;
  --sticky-l: 10%;
}
:root {
  --content-gap: var(--space-m);
  --fr-content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --fr-container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
  --fr-grid-gap: var(--space-m);
  --bg-ultra-light-text: var(--text-dark);
  --bg-light-text: var(--text-dark);
  --bg-dark-text: var(--text-light);
  --bg-ultra-dark-text: var(--text-light);
  --bg-ultra-light-heading: var(--text-dark);
  --bg-light-heading: var(--text-dark);
  --bg-dark-heading: var(--text-light);
  --bg-ultra-dark-heading: var(--text-light);
  --bg-ultra-light-button: primary;
  --bg-light-button: primary;
  --bg-dark-button: primary;
  --bg-ultra-dark-button: primary;
}
:root {
  --radius: 1rem;
  --radius-50: 50%;
  --radius-circle: 50vw;
  --radius-none: 0;
  --radius-xs: 0.4444444444rem;
  --radius-s: 0.6666666667rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2.25rem;
  --radius-xxl: 3.375rem;
  --border-size: 1px;
  --border-width: 1px;
  --border-style: solid;
  --border-color-dark: var(--black-trans-20);
  --border-color-light: var(--white-trans-20);
  --border: var(--border-size) var(--border-style) var(--border-color-dark);
  --border-light: var(--border-size) var(--border-style) var(--border-color-light);
  --border-dark: var(--border-size) var(--border-style) var(--border-color-dark);
}
:root {
  --divider-size: 1px;
  --divider-style: solid;
  --divider-inline-size: 100%;
  --divider-gap: var(--content-gap);
  --divider-color-dark: var(--black-trans-20);
  --divider-color-light: var(--white-trans-20);
  --divider: var(--divider-size) var(--divider-style) var(--divider-color-dark);
  --divider-light: var(--divider-size) var(--divider-style) var(--divider-color-light);
  --divider-dark: var(--divider-size) var(--divider-style) var(--divider-color-dark);
}
:root {
  --transition-duration: 0.3s;
  --transition-timing: ease-in-out;
  --transition-delay: 0s;
  --transition: background var(--transition-duration) var(--transition-timing) var(--transition-delay), color var(--transition-duration) var(--transition-timing) var(--transition-delay), border var(--transition-duration) var(--transition-timing) var(--transition-delay);
}
